<h1>Nowy Wykładowca</h1>

<div [formGroup]="form!" class="container mt-5">
  <!-- Id -->
  <div *ngIf="editMode" class="form-group mb-3">
    <label>Id</label>
    <input formControlName="id" type="text" class="form-control" />
  </div>

  <!-- First Name -->
  <div class="form-group mb-3">
    <label>Imię</label>
    <input formControlName="firstName" type="text" class="form-control" />
  </div>

  <!-- Surname -->
  <div class="form-group mb-3">
    <label>Nazwisko</label>
    <input formControlName="surname" type="text" class="form-control" />
  </div>

  <!-- Email -->
  <div class="form-group mb-3">
    <label>Email</label>
    <input formControlName="email" type="email" class="form-control" placeholder=" " />
  </div>

  <!-- AcademicDegree -->
  <div class="form-group mb-3">
    <label>Tytuł</label>
    <select class="form-control" formControlName="academicDegree">
      <option *ngFor="let ad of academicDegrees" [value]="ad">{{ad}}</option>
    </select>
  </div>

  <!-- OtherAcademicDegree -->
  <div *ngIf="form!.value['academicDegree'] == 'Inny'" class="form-group mb-3">
    <label>Niestandardowy Tytuł</label>
    <input formControlName="otherAcademicDegree" type="email" class="form-control" placeholder=" " />
  </div>

  <div style="margin-top: 30px;" class="form-group mb-3 btn-group">
    <button class="btn btn-success" (click)="confirm()">{{ editMode ? 'Edytuj' : 'Utwórz' }} </button>
    <a class="btn btn-danger" href="/lecturers/list">Powrót</a>
  </div>
</div>
